Options +FollowSymLinks
Options +Indexes
RewriteEngine On

RewriteCond %{REQUEST_URI} !/views/  [NC]
RewriteCond %{REQUEST_URI} !/locales/  [NC]
RewriteCond %{REQUEST_URI} !/demo/  [NC]
RewriteCond %{REQUEST_URI} !/helper/  [NC]
RewriteRule ^(.*)$ index.php [END]
